* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    max-width: 100%;
    
}


#navbar {
	background: linear-gradient(to right top, #0f0c29, #302b63, #24243e  );
}

#animate {
    color: #FFEFBA;
}

/* animation */
#name > #animate{
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    transition-duration: 1000ms;
}
#name > .b {
    animation-name: textb;
}
@keyframes textb {
    8.33%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .r {
    animation-name: textr;
}
@keyframes textr {
    16.66%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .y {
    animation-name: texty;
}
@keyframes texty {
    24.99%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}		
#name > .l {
    animation-name: textl;
}
@keyframes textl {
    33.22%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .ll {
    animation-name: textll;
}
@keyframes textll {
    41.55%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .e {
    animation-name: texte;
}
@keyframes texte {
    49.88%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}	
#name > .rr {
    animation-name: textrr;
}
@keyframes textrr {
    58.11%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .a {
    animation-name: texta;
}
@keyframes texta {
    66.44%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .lll {
    animation-name: textlll;
}
@keyframes textlll {
    74.77%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name> .llll {
    animation-name: textllll;
}
@keyframes textllll {
    83.10%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}	
#name > .o {
    animation-name: texto;
}
@keyframes texto {
    91.43%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}
#name > .s {
    animation-name: texts;
}
@keyframes texts {
    99.76%{
        text-transform: lowercase;
        color:#f4791f;
        font-size: 30px;
        font-weight: 700;
    }
}				
/* *	end of animation	*/ 



/* body section */

main {
    background: url(../images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.home {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(255,255,255,.2) 0%, rgba(194,194,214,.1) 100%);
    display: flex;
    padding: 80px 0;

}



.name {
    display: flex;
    margin: 0 20px;
    align-content: center;
    text-align: center;
    align-items: center;
    
}


#image {

	border-radius: 50%;
	margin: 20px 0;
    width: 30%;
    height: 300px;
    transition: transform 3s;
    transform-style: preserve-3d;
    border: 2px solid turquoise;
     
}
#image:hover {
    transform: rotateY(180deg);
    border-color: #6b6b83;
    box-shadow: 0 0 10px 4px #34495e;
    transition: smooth;
}





/* bounce effect */
h1 {
    text-align:center;
  }
  
  h1 span {
    margin: 0 10px;
    position: relative;
    top: 20px;
    -webkit-animation: bounce 2s ease infinite alternate;
            animation: bounce .8s ease infinite alternate;
    font-family: 'Poppins', cursive;
    font-size: 40px;
    line-height:110px;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 0 transparent,
                 0 11px 0 transparent,
                 0 12px 0 transparent,
                 0 13px 0 transparent,
                 0 14px 0 transparent,
                 0 15px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { -webkit-animation-delay: .1s; animation-delay: .1s; }
  h1 span:nth-child(3) { -webkit-animation-delay: .2s; animation-delay: .2s; }
  h1 span:nth-child(4) { -webkit-animation-delay: .3s; animation-delay: .3s; }
  h1 span:nth-child(5) { -webkit-animation-delay: .4s; animation-delay: .4s; }
  h1 span:nth-child(6) { -webkit-animation-delay: .5s; animation-delay: .5s; }
  h1 span:nth-child(7) { -webkit-animation-delay: .6s; animation-delay: .6s; }
  h1 span:nth-child(8) { -webkit-animation-delay: .7s; animation-delay: .7s; }
  h1 span:nth-child(9) { -webkit-animation-delay: .8s; animation-delay: .8s; }
  h1 span:nth-child(10) { -webkit-animation-delay: .9s; animation-delay: .9s; }
  h1 span:nth-child(11) { -webkit-animation-delay: 1s; animation-delay: 1s; }
  h1 span:nth-child(12) { -webkit-animation-delay: 1.1s; animation-delay: 1.1s; }
  h1 span:nth-child(13) { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
  
  @-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 10px 0 #CCC,
                 0 11px 0 #CCC,
                 0 12px 0 #CCC,
                 0 13px 0 #CCC,
                 0 14px 0 #CCC,
                 0 15px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                    0 10px 0 #CCC,
                 0 11px 0 #CCC,
                 0 12px 0 #CCC,
                 0 13px 0 #CCC,
                 0 14px 0 #CCC,
                 0 15px 0 #CCC,
                   0 50px 25px rgba(0, 0, 0, .2);
    }
  }

 
/* about */


#about-img {
	height: 50%;
	width: 80%;
	
}

#about-title {
	color: #24243e;
	
}


/* skills */

#skill-title {
    font-size: 40px;
    color: #24243e;
    text-align: center;
    justify-content: end;
	align-items: center;
	padding-top: 40px;

    
}

#skills {
    height: 100vh;
    display: block;
    background: radial-gradient(circle, rgba(48,43,99,.5) 0%, rgba(194,194,214,.1) 100% );
	padding-top: 70px;
	background: url(../images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	
}
.expertise-container{
    align-items: center;
    justify-content: center;
    display: block;
    margin: 50px auto;
    
}
.upper, .lower {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    
    
}




.logo {
    height: 100px;
    width: 10%;
    margin: 10px auto;
    border: 2px solid turquoise;
    border-radius: 30px;
    background: rgba(0,0,0,.7);
    

}

.logo:hover {
    background-color: #FFEFBA;
    border-color: #6b6b83;
    transition: ease-in;
    box-shadow: 0 0 10px 4px #34495e;
    
    
}





/* project */

#projects {
	height: 100%;
	background:url(../images/bg.jpg);
	background-position: center;
	background-attachment: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;

    
}



.content {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}


#cap1, #cap2 ,#cap3 {
    height: 250px;
    width: 200px;
    margin: 0 30px 10px 30px;
    border: 2px solid turquoise;
    border-radius: 20px;
	background: rgba(0,0,0,.7);

}

.cap:hover {
    cursor: pointer;
    border-color: #6b6b83;
    box-shadow: 0 0 10px 4px #34495e;
}




/* contact */



#contact-image {
	height:400px;
	width: 95%;
}


/* footer */
#footer-nav {
    
    background: linear-gradient(to right top, #0f0c29, #302b63, #24243e  );
    font-family: 'Poppins', serif;
}



i {
    color:#f4791f;
    font-weight: 400;
    margin: 0 5px;
    
}

#footer {
    color:#f4791f;
    font-weight: 400;
}


#number, #email {
    color:#f4791f
}

i:hover, #fb:hover, #linked:hover {
    color:#FFEFBA;
    
}

#fb, #linked {
    color:#f4791f
}


/* iphone and android */

@media screen and (min-width: 360px) and (max-width: 767px) {
	
	
    #name {
        display: none;
	}
	
	#home {
		display: flex;
	}
    
    #image{
		margin: auto 0;
        width: 45%;
		height: 150px;

    }
	h1 span {
        margin: 0 auto;
        font-size: 25px;
        line-height: 80px;
        -webkit-animation: bounce 2s ease infinite alternate;
            animation: bounce .5s ease infinite alternate;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        rgba(0, 0, 0, .4);
    } 
    @keyframes bounce {
        100% {
          top: -10px;
          text-shadow: 0 1px 0 #CCC,
                       0 2px 0 #CCC,
                       0 3px 0 #CCC,
                       0 4px 0 #CCC,
                       0 5px 0 #CCC,
                       0 6px 0 #CCC,
                       0 7px 0 #CCC,
                       0 20px 25px rgba(0, 0, 0, .2);
        }
    } 

    .expertise-container {
        display: flex;
        width: 100%;
        

        
    }
    .upper {
        flex-direction: column;
        height: 50%;
        width: 50%;
        justify-content: center;
        align-items: center;

    }
    .lower {
        flex-direction: column;
        height: 50%;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        width: 30%;
        height: 80px;
        border-radius: 20px;

    }

	.container {
		display:block;
	}


	.content {
		display: block;
		text-align: center;

	}

	#cap1, #cap2 {
		width: 35%;
	}

	#cap3 {
		height: 150px;
		width: 36%;
		margin: 0 20px;
		border: 2px solid turquoise;
		border-radius: 20px;
		background: rgba(0,0,0,.7);
	
	}

    #project {
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    
    #cap1, #cap2, #cap3{
        height: 150px;
    }

    #fb, #linked {
        display:none;
    }

    #footer-nav {
        height: 10vh;
    }
    

	
}

/* ipad */

@media screen and (min-width: 768px) and (max-width:800px) {
	
	
    #name {
        display: none;
    }
	#home {
		display: flex;
	}
    
    #image{
        width: 35%;
		height: 30%;
		margin: auto 0;
		
    
    }
    h1 span {
        margin: 0 auto;
        font-size: 50px;
        line-height: 80px;
        -webkit-animation: bounce 2s ease infinite alternate;
            animation: bounce .5s ease infinite alternate;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        rgba(0, 0, 0, .4);
    } 
    @keyframes bounce {
        100% {
          top: -10px;
          text-shadow: 0 1px 0 #CCC,
                       0 2px 0 #CCC,
                       0 3px 0 #CCC,
                       0 4px 0 #CCC,
                       0 5px 0 #CCC,
                       0 6px 0 #CCC,
                       0 7px 0 #CCC,
                       0 20px 25px rgba(0, 0, 0, .2);
        }
    } 
    .expertise {
        display: block;
        padding: 150px;
        
        
    }
    .expertise-container {
        display: flex;
        width: 100%;
        

        
    }
    .upper {
        flex-direction: column;
        height: 50%;
        width: 50%;
        justify-content: center;
        align-items: center;

    }
    .lower {
        flex-direction: column;
        height: 50%;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        width: 20%;
        height: 60px;
        border-radius: 12px;

    }
   
    #project {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 250px 0;
	}
	
	.content {
		display: block;
		text-align: center;
		justify-content: center;

	}

	#cap1, #cap2 {
		width: 35%;
	}

	#cap3 {
		height: 200px;
		width: 50%;
		margin: 20px 20px;
		border: 2px solid turquoise;
		border-radius: 20px;
		background: rgba(0,0,0,.7);
	
	}
    
}


